@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Dynamic Fitness and Fertilizer is a members-only healthcare facility committed to excellence in the service of our clients.</p>
