@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dynamic Fitness and Fertilizer<br />
    16611 South Park Center  Strongsville, OH  44136<br />
    <abbr title="Phone">P:</abbr>
    440.345-6683
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Kerri@dfgym.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Robert@dfgym.com</a>
</address>