@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>
<address>
    Dynamic Fitness and Fertilizer<br />
    16611 South Park Center  Strongsville, OH  44136<br />
    <abbr title="Phone">P:</abbr>
    440.345-6683<br /><br />
    <strong>Support:</strong>   <a href="mailto:Bryan@dfgym.com">Bryan@dfgym.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Robert@dfgym.com">Robert@dfgym.com</a>
</address>